* {
    font-size: small;
}

/* th {
    border-right: 1px solid rgb(52, 52, 52) !important;
} */

td {
    border-right: 1px solid rgb(84, 84, 84) !important;
}
td:last-child {
    border-right: 0 !important;
}